<form action="/books/edit/{{myBook.id}}" method="post">
  <label for="">Title:</label>
  <input type="text" name="title" value="{{myBook.title}}">

  <label for="">Author:</label>
 <select multiple name="author">
    {{#each allAuthors}}
    <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.lastName}}</option>
    {{/each}}
  </select>

  <label for="">Description:</label>
  <input type="text" name="description" value="{{myBook.description}}">

  <label for="">Rate:</label>
  <input type="number" name="rating" value="{{myBook.rating}}">

  <button type="submit">ADD</button>
</form>
